html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: #7b8e8e;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

header {
  background: #5ba4a4 url("images/bg-header-desktop.svg") no-repeat;
  background-size: cover;
  height: 156px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.featured {
  position: relative;
}

.featured::after {
  content: "";
  background-color: #7b8e8e;
  border-radius: 8px 0 0 8px;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 5px;
}

.f-700 {
  font-weight: 700;
}

.f-20 {
  color: #2c3a3a;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.f-20:hover {
  color: #5ba4a4;
}

.f-15 {
  font-size: 15px;
}

.f-14 {
  background-color: #eef6f6;
  border-radius: 8px;
  border: none;
  color: #5ba4a4;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 6px 4px;
  -webkit-transition: color 0.3s ease,
 background-color 0.3s ease,
 -webkit-transform 0.3s ease;
  transition: color 0.3s ease,
 background-color 0.3s ease,
 -webkit-transform 0.3s ease;
  transition: color 0.3s ease,
 background-color 0.3s ease,
 transform 0.3s ease;
  transition: color 0.3s ease,
 background-color 0.3s ease,
 transform 0.3s ease,
 -webkit-transform 0.3s ease;
}

.f-14:hover {
  background-color: #5ba4a4;
  color: #FFFFFF;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.f-14:focus {
  outline: 3px solid #5ba4a4;
}

.dg-cyan {
  color: #7b8e8e;
}

.dd-cyan {
  color: #5ba4a4;
}

.dd-cyan-bg {
  background-color: #5ba4a4;
}

.vdg-cyan-bg {
  background-color: #2c3a3a;
}

.l-dark {
  color: #a1a1a1;
}

.n-links {
  position: relative;
}

.n-links:nth-of-type(1)::before,
.n-links:nth-of-type(2)::before {
  content: "";
  background-color: #a1a1a1;
  border-radius: 4px;
  height: 4px;
  position: absolute;
  right: -18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
}

.position {
  color: #2c3a3a;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.position:hover {
  color: #7b8e8e;
}

.new,
.featured-true {
  border-radius: 2rem;
  color: #FFFFFF;
  font-size: 12px;
  padding: 8px 8px 4px;
}

.new {
  margin-right: 8px;
}

.d-none {
  display: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--j-even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex--j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex--j-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex--name-gap {
  gap: 0 24px;
  height: 100%;
}

.flex--new-gap {
  gap: 0 8px;
}

.flex--company-gap {
  gap: 12px 0;
}

.flex--feature-gap {
  gap: 0 15px;
}

.flex--contract-gap {
  gap: 0 38px;
}

.flex--skills-gap {
  gap: 0 1rem;
}

.container {
  background-color: #effafa;
  gap: 24px 0;
  min-height: 100vh;
  padding: 76px 164px;
}

.block {
  background-color: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 16px rgba(173, 173, 173, 0.3);
          box-shadow: 0 0 16px rgba(173, 173, 173, 0.3);
  height: 152px;
  overflow: hidden;
  padding: 0 40px;
  width: 100%;
}

.current-stack {
  background-color: #FFFFFF;
  border-radius: 8px;
  gap: 0 3rem;
  height: 72px;
  left: 164px;
  position: absolute;
  padding: 0 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: calc(100% - 328px);
}

[data-label="filteredItem"] {
  border-radius: 8px 0 0 8px;
  height: 32px;
  position: relative;
}

[data-label="filteredItem"]::after {
  content: "";
  background: #5ba4a4 url("images/icon-remove.svg") no-repeat center;
  border-radius: 0 8px 8px 0;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 2rem;
}

[data-label="filteredItem"]:hover {
  -webkit-transform: none;
          transform: none;
}

[data-label="filteredItem"]:hover::after {
  background-color: #2c3a3a;
}

.clear-btn {
  color: #5ba4a4;
  font-size: 14px;
  font-weight: 700;
  margin-left: auto;
  position: relative;
}

.clear-btn::after {
  content: "";
  background-color: #5ba4a4;
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  top: 110%;
  width: 100%;
}

.clear-btn:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 1280px) {
  .website-image {
    height: 48px;
    left: 24px;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .current-stack {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem 3rem;
    left: 82px;
    height: auto;
    max-height: 150px;
    padding: 20px 40px;
    width: calc(100% - 164px);
  }
  .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2.5rem 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6rem 82px;
  }
  .block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 270px;
    overflow: visible;
    padding: 2rem 24px;
    position: relative;
    width: 49%;
  }
  .flex--name-gap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .flex--skills-gap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .n-links:nth-of-type(1)::before,
  .n-links:nth-of-type(2)::before {
    right: -10px;
  }
  .flex--contract-gap {
    gap: 0 16px;
  }
}

@media (max-width: 780px) {
  .flex--name-gap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .flex--company-gap {
    width: 100%;
  }
  .flex--contract-gap {
    position: relative;
  }
  .flex--contract-gap::after {
    content: "";
    background-color: rgba(112, 112, 112, 0.3);
    bottom: -1rem;
    height: 1px;
    position: absolute;
    width: 100%;
  }
  .block {
    gap: 2rem 0;
    width: 100%;
  }
  .container {
    padding: 6rem 1.5rem;
  }
  .current-stack {
    left: 1.5rem;
    padding: 20px 1.5rem;
    width: calc(100% - 3rem);
  }
}
/*# sourceMappingURL=style.css.map */